.tables{
    display: flex;
    justify-content: space-between;
    padding: 5px;
}
.tables-left-site{
    display: flex;
    flex-direction: column;
    flex-grow: 3;
}
.table-right-site{
    display: flex;
    flex-direction: column;
    flex-grow: 2;
}
.one-table{
    overflow-y: auto;
    height: 200px;
}