<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Employee</title>
    <link href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}" rel="stylesheet"/>
    <link href="../static/css/register.css" th:href="@{/css/register.css}" rel="stylesheet"/>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/home">Obiezyswiat</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02"
            aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/home">Home page<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/acceptTransaction">Apply transaction</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/allTransactions">Available transaction</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Map Driver</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/allVehicles">Vehicle</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/employee/allEmployees">Employee</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/subscription/allSubscriptions">Subscription</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
            </li>
        </ul>
    </div>
</nav>
<div class="register-container">
    <div class="data-column">
        <form action="#" th:action="@{/transaction/assign}" method="post">
            <div class="small-text">
                <p class="lead">Add new Employee</p>
                <div class="form-group">
                    <label>Company name</label>
                    <input type="text" class="form-control" aria-describedby="firstNameHelp" th:field="*{transaction.companyName}">
                </div>
                <div class="form-group">
                    <label>Bid</label>
                    <input type="text" class="form-control" aria-describedby="surnameHelp" th:field="*{transaction.bid}">
                </div>
                <div class="form-group">
                    <label >Weight</label>
                    <input type="text" class="form-control" aria-describedby="surnameHelp" th:field="*{transaction.weight}">
                </div>
                <div class="form-group">
                    <label >Loading date</label>
                    <input type="text" class="form-control" aria-describedby="surnameHelp" th:field="*{transaction.loadingDate}">
                </div>
                <div class="form-group">
                    <label >Unloading Date</label>
                    <input type="text" class="form-control" aria-describedby="surnameHelp" th:field="*{transaction.unloadingDate}">
                </div>
                <div class="form-group">
                    <label >Loading place</label>
                    <input type="text" class="form-control" aria-describedby="surnameHelp" th:field="*{transaction.loadingPlace}">
                </div>
                <div class="form-group">
                    <label >Unloading place</label>
                    <input type="text" class="form-control" aria-describedby="surnameHelp" th:field="*{transaction.unloadingPlace}">
                </div>
                <div class="form-group">
                    <label >Description</label>
                    <input type="text" class="form-control" aria-describedby="surnameHelp" th:field="*{transaction.description}">
                </div>
                <div class="form-group">
                    <label >Phone number</label>
                    <input type="text" class="form-control" aria-describedby="surnameHelp" th:field="*{transaction.phoneNumber}">
                </div>
                <div class="form-group">
                    <label >Wybierz kierowce</label>
                    <select class="form-control" th:field="*{transaction.employee}">
                        <option th:each="employee: ${employeeList}"
                                th:value="${employee.id}"
                                th:utext="${employee.firstName + ' ' + employee.lastName}"></option>
                    </select>
                </div>
            </div>
            <div class="button-flex">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>