<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Available Transaction</title>
    <link href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}" rel="stylesheet"/>
    <link href="../static/css/availableTransaction.css" th:href="@{/css/availableTransaction.css}" rel="stylesheet"/>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/home">Obiezyswiat</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02"
            aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/home">Home page<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/transaction/acceptTransaction">Apply transaction</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/transaction/allTransactions">Available transaction</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Map Driver</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/vehicle/allVehicles">Vehicle</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/employee/allEmployees">Employee</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
            </li>
        </ul>
    </div>
</nav>
<div class="box">
    <p class="lead">Available Transaction</p>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Type</th>
            <th scope="col">Company Name</th>
            <th scope="col">Bid</th>
            <th scope="col">Route</th>
            <th scope="col">Loading Place</th>
            <th scope="col">Unloading Place</th>
        </tr>
        </thead>
        <tbody th:each="transaction: ${transactionList}">
        <tr>
            <th scope="row">Default</th>
            <td th:text="${transaction.companyName}"></td>
            <td th:text="${transaction.bid}"></td>
            <td th:text="${transaction.route}"></td>
            <td th:text="${transaction.loadingPlace}"></td>
            <td th:text="${transaction.unloadingPlace}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>