<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Transaction</title>
    <link href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}" rel="stylesheet"/>
    <link href="../static/css/transactionView.css" th:href="@{/css/transactionView.css}" rel="stylesheet"/>
</head>
<body>
<div class="transaction_container">
    <form action="#" th:action="@{/assign}" method="post">
        <p class="lead">Transakcja</p>
        <div class="data-column">
            <div class="block">
                <input type="hidden" th:field="${transaction.id}" readonly>
                <div class="form-group">
                    <label>Company name</label>
                    <input type="text" th:field="${transaction.companyName}" readonly>
                </div>
                <div class="form-group">
                    <label>Bid</label>
                    <input type="text" th:field="${transaction.bid}" readonly>
                </div>
                <div class="form-group">
                    <label>Weight</label>
                    <input type="text" th:field="${transaction.weight}" readonly>
                </div>
                <div class="form-group">
                    <label>Miejsce załadunku</label>
                    <input type="text" th:field="${transaction.loadingPlace}" readonly>
                </div>
                <div class="form-group">
                    <label>Miejsce rozładunku</label>
                    <input type="text" th:field="${transaction.unloadingPlace}" readonly>
                </div>
                <div class="form-group">
                    <label>Data zaladunku</label>
                    <input type="text" th:field="${transaction.loadingDate}" readonly>
                </div>
            </div>
            <div class="block">
                <div class="form-group">
                    <label>Data rozladunku</label>
                    <input type="text" th:field="${transaction.unloadingDate}" readonly>
                </div>
                <div class="form-group">
                    <label>Zgłoszono</label>
                    <input type="text" th:field="${transaction.notificationDate}" readonly>
                </div>
                <div class="form-group">
                    <label>Ważne do</label>
                    <input type="text" th:field="${transaction.endDate}" readonly>
                </div>
                <div class="form-group">
                    <label>Description</label>
                    <input type="text" th:field="${transaction.description}" readonly>
                </div>
                <div class="form-group">
                    <label>Nr tel</label>
                    <input type="text" th:field="${transaction.phoneNumber}" readonly>
                </div>
                <div class="form-group">
                    <label>Kierowca</label>
                    <select class="form-control" th:field="*{transaction.employee}">
                        <option th:each="employee: ${employeeList}"
                                th:value="${employee.id}"
                                th:utext="${employee.firstName + ' ' + employee.lastName}"></option>
                    </select>
                </div>
            </div>
        </div>
        <div class="button-flex">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>
</body>
</html>