<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Vehicle</title>
    <link href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}" rel="stylesheet"/>
    <link href="../static/css/employee.css" th:href="@{/css/employee.css}" rel="stylesheet"/>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Obierzyswiat</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02"
            aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Home page<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/acceptTransaction">Apply transaction</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/allTransactions">Available transaction</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Map Driver</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/allVehicles">Vehicle</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/allEmployees">Employee</a>
            </li>
        </ul>
    </div>
</nav>
<div class="box">
    <p class="lead">Vehicle</p>
    <div class="table">
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">Type</th>
                <th scope="col">Vehicle Type</th>
                <th scope="col">Vehicle Brand</th>
                <th scope="col">Capacity</th>
                <th scope="col">Registration Number</th>
                <th scope="col">Review Date</th>
                <th scope="col">Insurance Date</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="vehicle: ${vehiclesList}">
                <th scope="row">Default</th>
                <td th:text="${vehicle.vehicleType}"></td>
                <td th:text="${vehicle.brand}"></td>
                <td th:text="${vehicle.capacity}"></td>
                <td th:text="${vehicle.registerNr}"></td>
                <td th:text="${vehicle.reviewDate}"></td>
                <td th:text="${vehicle.insuranceDate}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="buttons-box">
        <a href="/addVehicle" type="button" class="btn btn-primary">Add vehicle</a>
        <a type="button" class="btn btn-primary">Edit vehicle</a>
    </div>
</div>
</body>
</html>